parameters:
	level: 8
	paths:
		- translation-drift.php
		- uninstall.php
		- includes
	bootstrapFiles:
		- tests/phpstan/bootstrap.php
	scanFiles:
		- vendor/wpsyntex/polylang-stubs/polylang-stubs.php
		- vendor/php-stubs/acf-pro-stubs/acf-pro-stubs.php
		- vendor/php-stubs/wp-cli-stubs/wp-cli-stubs.php
		- vendor/php-stubs/wp-cli-stubs/wp-cli-tools-stubs.php
		- tests/stubs/wpml.php
		- tests/stubs/elementor.php
		- tests/stubs/action-scheduler.php
	treatPhpDocTypesAsCertain: false
